@media screen and (max-width: 960px) {
    .menuTitle {
        /* display: none; */
    }

    .hihuNoticeHero {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
    .listNumt {
        width: 20%;
    }
    .listTitlet {
        width: 50%;
    }
    .listDatet {
        width: 40%;
    }
    .listNum {
        width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .listDate {
        width: 30%;
    }
}

@media screen and (min-width: 960px) {
    .hihuNoticeHero {
        width: calc(100% - 200px);
    }
    .listNumt {
        width: 10%;
    }
    .listTitlet {
        width: 76%;
    }
    .listDatet {
        width: 14%;
    }
}

.hero {
    display: flex;
    justify-content: center;
}

.hihuNoticeHero {
    height: 1000px;
    /* width: calc(100% - 200px); */
    /* border: 1px solid black; */
}

.noticeBox {
    height: 840px;
    width: 100%;
    /* border: 1px solid black; */
}

.noticeListBox {
    width: 100%;
    height: 620px;
    /* border: 1px solid black; */
    border-bottom: 1px solid #878787;

}

.noticeListM {
    width: 100%;
    height: 60px;
    display: flex;
    /* border-top: 1px solid #707070; */
    border-bottom: 1px solid #878787;
    justify-content: space-between;
    align-items: center;
}

.noticeTextBox {
    margin-top: 24px;
    overflow-y: scroll;
    height: 500px;
    /* border: 1px solid black; */
}

.noticeTextBox::-webkit-scrollbar {
    width: 4px;

}

.noticeTextBox::-webkit-scrollbar-track {
    width: 4px;
    background-color: white;
}

.noticeTextBox::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 2px;
    background-color: #CFCFCF;
}

.noticeList {
    height: 60px;
    /* border: 1px solid black; */
    display: flex;
    border-bottom: 1px solid #CFCFCF;
}

.listNumt {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.listTitlet {
    /* border: 1px solid black; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listDatet {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.noticeImg {
    width: 400px;
    height: 320px;
    margin-top: 24px;
    object-fit: cover;
}