{% load static %}
<footer class = "footer">
    <div class = "subText maker tGrey">
        <span>HIHU 3.5 made by PDY & LYR</span>
    </div>
    <div class = "subText contact tGrey">
        <span class = "footerE">Contact</span>
        <a href = "" class = "footerE tGrey">Kakao</a>
        <a href="mailto:eodud6410@gmail.com" class = "footerE tGrey">E-mail</a>
    </div>
    <div class = "etcText copyright tGrey">
        <span>©HIHU. All rights reserved</span>
        <span>COCORI</span>
    </div>
</footer>